/* style sheet for sunset site */
body{
	margin: 0;
	font-family: Helvetica;		
	background-color: #d4f3fc;
	background-image: url("sunset pic.jpg"); 
	background-repeat: no-repeat;
	background-size: 100%;
	font-weight: 400;
}

.container{
	width: 80%;
	margin: 0 auto;
}

.logo{
	float: left;
	padding: 10px 0;
}

header{
	background-color: #efc9ff;
}

header::after{
	content:'';
	display: table;
	clear: both;
}

nav{
	float: right;
}

nav ul{
	margin:0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 30px ;
	padding-top: 50px;
	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20 px;
}

nav a:hover{
	color: #999;
}

nav a::before{
	content:'';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;


	position: absolute;
	top: 0;
	width:  0%;

	transition: all ease-in-out 200ms;
}

nav a:hover::before{
	width: 100%;

}



